<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300">
  <!-- Contenedor centrado y con ancho máximo -->
  <div class="w-full max-w-6xl px-4">
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <!-- Campo de búsqueda responsive -->
      <input
        type="text"
        id="search"
        placeholder="Search by name..."
        class="mb-4 p-2 border rounded w-full"
      />
      <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th class="px-6 py-3">Machine Name</th>
            <th class="px-6 py-3">Difficulty</th>
            <th class="px-6 py-3">Platform</th>
            <th class="px-6 py-3">Link</th>
            <th class="px-6 py-3">Write-Up</th>
          </tr>
        </thead>
        <tbody id="table-body"></tbody>
      </table>
    </div>
  </div>
</article>

<script>
  let currentPage = 1;
  const itemsPerPage = 10;
  const products = [
    { name: "Validation", difficulty: "Easy", platform: "Hack The Box", machine: "https://app.hackthebox.com/machines/382", writeup: "http" },
    { name: "Headless", difficulty: "Easy", platform: "Hack The Box", machine: "https://app.hackthebox.com/machines/594", writeup: "http" },
    { name: "Gigachad", difficulty: "Easy", platform: "Vulnhub", machine: "https://www.vulnhub.com/entry/gigachad-1,657/", writeup: "http" },
    { name: "Mercury", difficulty: "Easy", platform: "Vulnhub", machine: "https://www.vulnhub.com/entry/the-planets-mercury,544/", writeup: "http" }
  ];

  function loadTable(filteredProducts = products) {
    const tableBody = document.getElementById("table-body");
    tableBody.innerHTML = "";
    
    filteredProducts.forEach(product => {
      const row = document.createElement("tr");
      row.className = "bg-white border-b dark:bg-gray-800 hover:bg-gray-50 dark:hover:bg-gray-600";
      row.innerHTML = `
        <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">${product.name}</td>
        <td class="px-6 py-4">${product.difficulty}</td>
        <td class="px-6 py-4">${product.platform}</td>
        <td class="px-6 py-4">
          <a href="${product.machine}" class="font-medium text-blue-600 dark:text-blue-400 hover:underline">Machine</a>
        </td>
        <td class="px-6 py-4">
          <a href="${product.writeup}" class="font-medium text-green-600 dark:text-green-500 hover:underline">Write-Up</a>
        </td>
      `;
      tableBody.appendChild(row);
    });
  }

  document.getElementById("search").addEventListener("input", function() {
    const query = this.value.toLowerCase();
    const filteredProducts = products.filter(product => product.name.toLowerCase().includes(query));
    loadTable(filteredProducts);
  });

  loadTable();
</script>
